<nav>
  <ul>
    <li>
      <%= link_to 'root', root_path %>
    </li>
    <li>
      <%= link_to 'about', about_path %>
    </li>
  </ul>
</nav>

<ul>
  <% if Current.user %>
    <p>
      Logged in: <%= link_to Current.user.email, edit_password_path %>
    </p>
    <%= button_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= button_to 'Sign In', sign_in_path %>
    <%= button_to 'Login', sign_in_path %>
  <% end %>
</ul>